
<div class="list_heading">
  <h1>Active Users</h1>
  <a href="{% url 'user_create' %}"><i class="fas fa-plus-circle"></i></a>
</div>
<table class='table'>
  <tr>
    <th>S/N</th>
    <th>View</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Joined</th>
    <th>Staff</th>
    <th>Active</th>
  </tr>
  {% for object in object_list %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td><a href="{% url 'user_detail' object.id %}"><i class="fas fa-pen"></i></a></td>
    <td>{{ object.email }}</td>
    <td>{{ object.first_name }}</td>
    <td>{{ object.last_name }}</td>
    <td>{{ object.date_joined|date:"F d, Y" }}</td>
    <td>{{ object.is_staff }}</td>
    <td>{{ object.is_active }}</td>
  </tr>
  {% endfor %}
</table>
