
<div class="detail_heading">
  <h2>User with ID: {{object.id}}</h2>
</div>
<div class="detail">
  <h3>Email: </h3> <p>{{ object.email }}</p>
</div>
<div class="detail">
  <h3>First Name: </h3> <p>{{ object.first_name }}</p>
</div>
<div class="detail">
  <h3>Last Name: </h3> <p>{{ object.last_name }}</p>
</div>
<div class="detail">
  <h3>Date Joined: </h3> <p>{{ object.date_joined }}</p>
</div>
<div class="detail">
  <h3>Staff: </h3> <p>{{ object.is_staff }}</p>
</div>
<div class="detail">
  <h3>Active: </h3> <p>{{ object.is_active }}</p>
</div>
