<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Ticketing System</title>
    <meta charset= "utf-8">
	  <meta name= "Description" content= "">
	  <meta name= "Keywords" content= "">

	 <!--media query for viewport of the device's screen -->
	 <meta name= "viewport" content= "width = device-width, initial-scale = 1, user-scalable= yes">

    {% include 'base/css.html' %}
    {% include 'base/script.html' %}
  </head>
  <body>
    {% include 'base/nav.html' %}
    {% include 'base/sidebar.html' %}

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
