body {
  width: 100%;
  margin: 0 auto;
}
/* Add a black background color to the top navigation */
.topnav {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: #eaeaea;
  overflow: hidden;
}
/* Style the links inside the navigation bar */
.topnav a, .search-form {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav .right {
  float: right;
}
.search-form {
  padding: 5px 16px;
  /* float: center; */
}
.search-form input,  .search-form button{
  color: black;
  border: 0;
  padding: 9px 3px;
  border-radius: 5px;
  font-size: 15px;
}
.search-form input {
  margin-right: 0;
}
.search-form button{
  width: 80px;
  margin-left: 0;

}
.search-form button:hover{
  background-color: #d2d1d1;
  color: #607d8b:
}
/* Change the color of links on hover */
.topnav a:hover:not(:first-child) {
  color: #607d8b;
}
/* Add an active class to highlight the current page */
.topnav a.active {
  color: #607d8b;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 768px) {
  .topnav a:not(:first-child), .search-form {display: none;}
  .topnav a.icon {
    position: absolute;
    top: 0;
    right: 10px;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a, .topnav.responsive .search-form {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .search-form {
    float: left;
  }
  .responsive.sidebar {
    /* top: 194px; */
  }
}
/* width - 768   top - 238px*/
/* width - 645   top - 188px*/


/* The side navigation menu */
.sidebar {
  position: fixed; /* Set the navbar to fixed position */
  left: 0; /* Position the navbar at the top of the page */
  top: 48px;
  width: 200px;
  margin: 0;
  padding: 0;
  background-color: #f6f7f7;
  overflow: auto;
}
.sidebar, .content {
  min-height: 100vh;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  margin: 2.5em 85px;
  text-decoration: none;
  font-size: 30px;
}

/* Active/current link */
.sidebar a.active {
  color: #607d8b;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: #607d8b;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.content {
  padding: 48px 20px 0 20px;
  margin-left: 200px;
  font-size: 90%
}

.form {
  border-radius: 10px;
  margin: 0 auto 50px auto;
}

/* Form style */
.form input, .form button, .form textarea, .form select {
  margin-right: 3%;
  border-radius: 5px;
  font-size: 95%;
  outline: none; /*REMOVE DEFAULT INPUT/BUTTON OUTLINE STYLE*/
}
.form input, .form textarea, .form select {
  color: black;
  background-color: #f6f7f7;
  padding: 5px;
}
.form input, .form select {
  height: 30px;
}
.form button {
  color: #dcdcd9;
  background-color: #607D8B;
  height: 45px;
  width: 100px;
}

@media only screen and (max-width: 699px) and (min-width: 600px) {
  .sidebar {
    width: 28.612%;
  }
  /* Sidebar links */
  .sidebar a {
    margin: 2.5em 85px;
    font-size: 30px;
  }
  .content {
    margin-left: 28.612%;
  }
  .responsive.sidebar {
    /* top: 188px; */
  }
}
@media only screen and (max-width: 599px) and (min-width: 480px) {
  .sidebar {
    width: 20%;
  }
  /* Sidebar links */
  .sidebar a {
    margin: 2.5em 50px;
    font-size: 20px;
  }
  .content {
    margin-left: 20%;
  }
}
@media only screen and (max-width: 479px) {
  .sidebar {
    width: 15%;
  }
  /* Sidebar links */
  .sidebar a {
    margin: 2.5em 30px;
    font-size: 15px;
  }
  .content {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 400px) {
  .sidebar {
    width: 15%;
  }
  /* Sidebar links */
  .sidebar a {
    margin: 2.5em 20px;
    /* padding: 30px 0; */
    font-size: 15px;
  }
  .content {
    margin-left: 15%;
    font-size: 65%;
  }
}

/* Table style */
.table {
  border-collapse: collapse;
  width: auto;
}
.table a {
  color: #607D8B;
  outline: none;
}
.table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
 .table tr:nth-child(even) {
  background: #f2f2f2;
}
.table tr:hover {
  background: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background: #607D8B;
  color: white;
}
/* View list heading  style */
.list_heading {
  display: grid;
  grid-template-columns: 250px 50px;
  grid-column-gap: 0px;
}
.list_heading a {
  font-size: 20px;
  color: #607D8B;
  outline: none;
  padding-top: 20px;
}
@media only screen and (max-width: 480px) {
  .list_heading {
    display: grid;
    grid-template-columns: 250px 50px;
    grid-column-gap: 0;
  }
  .list_heading a {
    font-size: 16px;
    padding-top: 18px;
  }
}
/* View details heading style */
.detail_heading {
  display: grid;
  grid-template-columns: 250px 50px;
  grid-column-gap: 200px;
  color: #607D8B;
}
.detail_heading a {
  color: inherit;
  font-size: 20px;
  outline: none;
  margin: 19.920px 0;
}

/* view detail */
.detail {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

/* Create user icon style */
.create_user a {
  color: #607D8B;
  outline: none;
  text-decoration: none;
}
.create_user a:hover {
  color: #d66f67;
}

/* show text details when you focus on sidebar links  */
.show-text {
  position: absolute;
  color: #607D8B;
  font-size: 15px;
  font-style: oblique;
}
